{template 'header',$module}
<div class="comlist">
    <div class="adlist">
        <div class="clad1 l">
            <a href=""><img src="{DT_STATIC}pic/css/images/cl1.png" alt="" /></a>
        </div>
        <div class="clad2 r">
            <a href=""><img src="{DT_STATIC}pic/css//images/cl2.png" alt="" /></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="g_cls">
        <div class="cls">
            <label for=""><a href="" class="sel">按分类</a></label>
            <div class="g_list">
                <a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a><a href="">无水洗车</a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="cls">
            <label for=""><a href="" class="sel">按地区</a></label>
            <div class="g_list">
                <a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a><a href="">天宁区</a>
            </div>
        </div>
    </div>
    <div class="cominfo">
        <ul>
          <li class="list-pro odd">
          <div>
              <div class="pinfo l">
                  <div class="ph">
                    <a href="">江苏常州岁月鞋业贸易公司</a>
                  </div>
                  <div class="sell">
                      <label for="">主营产品：</label><a href="">库存鞋；</a><a href="">订单鞋；</a><a href="">男鞋；</a><a href="">女鞋；</a>
                  </div>
                  <div class="loc">
                      <label for="">地址：</label>
                      <span class="b">江苏常州天宁区九州服装城</span>
                      <a href="" class="map"></a>
                  </div>
                  <div class="haspro">
                      共<span>190</span>件产品
                      经销商<span>1348</span>位
                  </div>
                  <div class="icons">
                    <span class="chicon icon"></span>
                    <span>第<strong>1</strong>年</span>
                    <span class="bicon icon"></span>
                    <span class="jicon icon"></span>
                  </div>
                  <div class="contact">
                      <a href="" class="wangwang"></a>
                      <a href="" class="order"></a>
                  </div>
              </div>
              <div class="binfo l">
                  <p>
                    <label for="">员工人数：</label>
                    <span>5-10人</span>
                  </p>
                  <p>
                    <label for="">年营业额：</label>
                    <span>101万-200万</span>
                  </p>
                  <p>
                    <label for="">厂房面积：</label>
                    <span>800.00平方米</span>
                  </p>
                  <p>
                    <label for="">主要市场：</label>
                    <span>全国</span>
                  </p>
                  <p>
                    <label for="">主要客户：</label>
                    <span>青少年 成年人</span>
                  </p>
                  <p><a href="" class="b">查看更多公司信息>></a></p>
              </div>
              <div class="compro">
                  <ul>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                  </ul>
              </div>
                <div class="clear"></div>
          </div>
          </li>
          <li class="list-pro even">
          <div>
              <div class="pinfo l">
                  <div class="ph">
                    <a href="">江苏常州岁月鞋业贸易公司</a>
                  </div>
                  <div class="sell">
                      <label for="">主营产品：</label><a href="">库存鞋；</a><a href="">订单鞋；</a><a href="">男鞋；</a><a href="">女鞋；</a>
                  </div>
                  <div class="loc">
                      <label for="">地址：</label>
                      <span class="b">江苏常州天宁区九州服装城</span>
                      <a href="" class="map"></a>
                  </div>
                  <div class="haspro">
                      共<span>190</span>件产品
                      经销商<span>1348</span>位
                  </div>
                  <div class="icons">
                    <span class="chicon icon"></span>
                    <span>第<strong>1</strong>年</span>
                    <span class="bicon icon"></span>
                    <span class="jicon icon"></span>
                  </div>
                  <div class="contact">
                      <a href="" class="wangwang"></a>
                      <a href="" class="order"></a>
                  </div>
              </div>
              <div class="binfo l">
                  <p>
                    <label for="">员工人数：</label>
                    <span>5-10人</span>
                  </p>
                  <p>
                    <label for="">年营业额：</label>
                    <span>101万-200万</span>
                  </p>
                  <p>
                    <label for="">厂房面积：</label>
                    <span>800.00平方米</span>
                  </p>
                  <p>
                    <label for="">主要市场：</label>
                    <span>全国</span>
                  </p>
                  <p>
                    <label for="">主要客户：</label>
                    <span>青少年 成年人</span>
                  </p>
                  <p><a href="" class="b">查看更多公司信息>></a></p>
              </div>
              <div class="compro">
                  <ul>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                  </ul>
              </div>
                <div class="clear"></div>
          </div>
          </li>
          <li class="list-pro odd">
          <div>
              <div class="pinfo l">
                  <div class="ph">
                    <a href="">江苏常州岁月鞋业贸易公司</a>
                  </div>
                  <div class="sell">
                      <label for="">主营产品：</label><a href="">库存鞋；</a><a href="">订单鞋；</a><a href="">男鞋；</a><a href="">女鞋；</a>
                  </div>
                  <div class="loc">
                      <label for="">地址：</label>
                      <span class="b">江苏常州天宁区九州服装城</span>
                      <a href="" class="map"></a>
                  </div>
                  <div class="haspro">
                      共<span>190</span>件产品
                      经销商<span>1348</span>位
                  </div>
                  <div class="icons">
                    <span class="chicon icon"></span>
                    <span>第<strong>1</strong>年</span>
                    <span class="bicon icon"></span>
                    <span class="jicon icon"></span>
                  </div>
                  <div class="contact">
                      <a href="" class="wangwang"></a>
                      <a href="" class="order"></a>
                  </div>
              </div>
              <div class="binfo l">
                  <p>
                    <label for="">员工人数：</label>
                    <span>5-10人</span>
                  </p>
                  <p>
                    <label for="">年营业额：</label>
                    <span>101万-200万</span>
                  </p>
                  <p>
                    <label for="">厂房面积：</label>
                    <span>800.00平方米</span>
                  </p>
                  <p>
                    <label for="">主要市场：</label>
                    <span>全国</span>
                  </p>
                  <p>
                    <label for="">主要客户：</label>
                    <span>青少年 成年人</span>
                  </p>
                  <p><a href="" class="b">查看更多公司信息>></a></p>
              </div>
              <div class="compro">
                  <ul>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                  </ul>
              </div>
                <div class="clear"></div>
          </div>
          </li>
          <li class="list-pro even">
          <div>
              <div class="pinfo l">
                  <div class="ph">
                    <a href="">江苏常州岁月鞋业贸易公司</a>
                  </div>
                  <div class="sell">
                      <label for="">主营产品：</label><a href="">库存鞋；</a><a href="">订单鞋；</a><a href="">男鞋；</a><a href="">女鞋；</a>
                  </div>
                  <div class="loc">
                      <label for="">地址：</label>
                      <span class="b">江苏常州天宁区九州服装城</span>
                      <a href="" class="map"></a>
                  </div>
                  <div class="haspro">
                      共<span>190</span>件产品
                      经销商<span>1348</span>位
                  </div>
                  <div class="icons">
                    <span class="chicon icon"></span>
                    <span>第<strong>1</strong>年</span>
                    <span class="bicon icon"></span>
                    <span class="jicon icon"></span>
                  </div>
                  <div class="contact">
                      <a href="" class="wangwang"></a>
                      <a href="" class="order"></a>
                  </div>
              </div>
              <div class="binfo l">
                  <p>
                    <label for="">员工人数：</label>
                    <span>5-10人</span>
                  </p>
                  <p>
                    <label for="">年营业额：</label>
                    <span>101万-200万</span>
                  </p>
                  <p>
                    <label for="">厂房面积：</label>
                    <span>800.00平方米</span>
                  </p>
                  <p>
                    <label for="">主要市场：</label>
                    <span>全国</span>
                  </p>
                  <p>
                    <label for="">主要客户：</label>
                    <span>青少年 成年人</span>
                  </p>
                  <p><a href="" class="b">查看更多公司信息>></a></p>
              </div>
              <div class="compro">
                  <ul>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <div class="g_img">
                            <a href=""><img src="{DT_STATIC}pic/css/images/compp1.png" alt="" /></a>
                        </div>
                        <div class="g_intro">
                            <a href="">新新新新新款骆驼鞋子款骆驼鞋子款骆驼鞋子</a>
                        </div>
                    </div>
                    </li>
                  </ul>
              </div>
                <div class="clear"></div>
          </div>
          </li>
        </ul>
        <div class="pagelist">
            <div class="page l">
                <a href="" class="next">上一页</a>
                <a href="" class="sel">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <span class="more">...</span>
                <a href="" class="next">下一页</a>
                <span>共100页</span>
            </div>
            <div class="gotopage l">
                <form action="">
                    <span>到</span>
                    <input id="" name="" type="text" class="gop"/>
                    <span>页</span>
                    <input type="submit" value="确定" class="gobtn"/>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{template 'footer',$module}
