    <div class="footer">
        <div class="footer_inner">
            <div class="xszn g_c">
                <h3>新手指南</h3>
                <ul>
                  <li><a href="">注册新用户</a></li>
                  <li><a href="">安装阿里旺旺</a></li>
                  <li><a href="">帐号密码</a></li>
                  <li><a href="">买家入门</a></li>
                  <li><a href="">买家入门</a></li>
                </ul>
            </div>
            <div class="xszn g_c">
                <h3>采购指南</h3>
                <ul>
                  <li><a href="">注册新用户</a></li>
                  <li><a href="">安装阿里旺旺</a></li>
                  <li><a href="">帐号密码</a></li>
                  <li><a href="">买家入门</a></li>
                  <li><a href="">买家入门</a></li>
                </ul>
            </div>
            <div class="xszn g_c">
                <h3>支付方式</h3>
                <ul>
                  <li><a href="">注册新用户</a></li>
                  <li><a href="">安装阿里旺旺</a></li>
                  <li><a href="">帐号密码</a></li>
                  <li><a href="">买家入门</a></li>
                  <li><a href="">买家入门</a></li>
                </ul>
            </div>
            <div class="xszn g_c">
                <h3>配送方式</h3>
                <ul>
                  <li><a href="">注册新用户</a></li>
                  <li><a href="">安装阿里旺旺</a></li>
                  <li><a href="">帐号密码</a></li>
                  <li><a href="">买家入门</a></li>
                  <li><a href="">买家入门</a></li>
                </ul>
            </div>
            <div class="xszn g_c">
                <h3>售后服务</h3>
                <ul>
                  <li><a href="">注册新用户</a></li>
                  <li><a href="">安装阿里旺旺</a></li>
                  <li><a href="">帐号密码</a></li>
                  <li><a href="">买家入门</a></li>
                  <li><a href="">买家入门</a></li>
                </ul>
            </div>
            <div class="g_c f_chat">
                <img src="{DT_STATIC}pic/css/images/wx_code.png" width="101" height="103"/>
                <span>微信扫描二维码</span>
            </div>
            <div class="g_c f_code">
                <!--ul>
                    <li>
                        <a href=""><img src="{DT_STATIC}pic/css/images/e1.png" alt="" /></a>
                    </li>
                    <li class="mr0">
                        <a href=""><img src="{DT_STATIC}pic/css/images/e2.png" alt="" /></a>
                    </li>
                </ul-->
                <a href=""><img src="{DT_STATIC}pic/css/images/chat_phone.png" width="218" height="92" alt="" /></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>
        &copy;2014-2015 车行天下 版权所有，并保留所有权利，ICP备案证书号：
        </p>
    </div>
</body>
</html>
