{template 'header_module',$module}
<div class="navlist">
    <div class="navlist_inner">
        <a href="">首页</a>&gt;
        <a href="">汽车美容</a>&gt;
        <a href="">新车开蜡</a>
    </div>
</div>
<div class="chlist">
    <!--推荐-->
    <div class="g_c1 l">
        <div class="menulist">
        <div class="sub_p_menu">
				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);$c_count=count($child)-1;}
				{loop $child $i $c}
                <div class="g_c_b {if $i==$c_count}g_last{/if}" dx={$i}>
				{if $i<10 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
                <h3><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a><i></i></h3>
                <ul>
				{loop $sub $j $s}
                {if $j<4}<li class="g_sub_tip"><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
				{/loop}
                </ul>
				{/if}
                <div class="clear"></div>
            </div>
				{/loop}
            </div>
        </div>
        <div class="weekpro">
            <h2>本周热销</h2>
            <ul>
               {php $t=array_pad(array(),5,0);}
               {loop $t $k $v}
              <li>
                  <div>
                      <div class="g_img l"><a href=""><img src="{DT_STATIC}pic/css/images/wpic.png" width="66" height="66" alt="" /></a></div>
                      <div class="g_intro l">
                          <a href="">汽车坐垫 新款四季通用皮革坐垫</a>
                          <span class="l_price">￥580.0</span>
                      </div>
                  </div>
              </li>
              {/loop}
            </ul>
            <div class="clear"></div>
        </div>
    </div> 
   <div class="g_c2 l">
       <div class="g_class_recommand">
           <h3>本类推荐</h3>
           <ul>
               {php $t=array_pad(array(),3,0);}
               {loop $t $k $v}
               <li {if ($k+1)%3 == 0} style="margin-right:0"{/if}>
                     <div>
                         <div class="g_img l"><a href=""><img src="{DT_STATIC}pic/css/images/rp1.png" width="148" height="148" alt="" /></a></div>
                        <div class="g_detail l">
                            <p>汽车坐垫 新款四季通用皮革坐垫汽车坐垫 新款四季通用皮革坐垫</p>
                            <div class="g_price"><span>￥</span>580.0</div>
                            <div class="g_buy">231人已购买</div>
                            <div class="g_qg"><a href=""><img src="{DT_STATIC}pic/css/images/qg.png" alt="" /></a></div>
                        </div>
                     </div>
                 </li>
               {/loop}
           </ul>
           <div class="clear"></div>
       </div>
       <div class="flsearch">
           <div>
               <div class="l g_label">
               <a href="" class="g_sel">&nbsp;按分类&nbsp;</a>
               </div>
               <div class="l g_cls">
               {php $t=array_pad(array(),10,0);}
               {loop $t $k $v}
                    <a href="">&nbsp;无水洗车&nbsp;</a>
               {/loop}
               </div>
               <div class="clear"></div>
           </div>
           <div class="cls_area mt8">
               <div class="l g_label">
                <a href="" class="g_sel">&nbsp;按地区&nbsp;</a>
               </div>
               <div class="l g_cls">
                <a href="">&nbsp;天宁区&nbsp;</a>
               </div>
               <div class="clear"></div>
           </div>
       </div>
       <div class="consearch"></div>
       <div class="s_result g_ex1 m_shop_content">
           <ul>
               {php $t=array_pad(array(),20,0);}
               {loop $t $k $v}
               <li {if !(($k+1)%4)}class="g_last"{/if}>
                  <div>
                      <a href=""><img src="{DT_STATIC}pic/css/images/p1.png" width="226" height="226" alt="" /></a>
                      <div class="g_sub_c">
                          <p>汽车坐垫 新款四季通用皮革座垫 科鲁兹迈</p>
                          <div class="dprice">
                              <div class="l">
                                  <span class="pi1">￥</span><span class="pi2">580.00</span><span class="buynum"><span class="buynum_d">231</span>人已购买</span>
                              </div>
                              <div class="l qg_icon">
                                  <a href=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
               </li>
               {/loop}
           </ul>
       </div>
   </div>
</div>
{template 'footer',$module}
