{template 'header',$module}
{template 'subheader',$module}
<div class="new">
    <div class="sectop">
        <div class="g_c1 l">
            <div class="g_r1">
                <div class="sd" id="J_sd">
                    <div class="sdimg_wrapper">
                        <div class="sdimg">
                            <div class="sdimg_sec">
                                <a href=""><img src="{DT_STATIC}pic/css/images/newsd.png" alt="" /></a>
                                <p class="info">
                                中国最重要 盘点车站“中国优先”车型
                                </p>
                                <p class="infobg"></p>
                            </div>
                        </div>
                        <div class="sdimg">
                            <div class="sdimg_sec">
                                <a href=""><img src="{DT_STATIC}pic/css/images/newsd.png" alt="" /></a>
                                <p class="info">
                                中国最重要 盘点车站“中国优先”车型
                                </p>
                                <p class="infobg"></p>
                            </div>
                        </div>
                        <div class="sdimg">
                            <div class="sdimg_sec">
                                <a href=""><img src="{DT_STATIC}pic/css/images/newsd.png" alt="" /></a>
                                <p class="info">
                                中国最重要 盘点车站“中国优先”车型
                                </p>
                                <p class="infobg"></p>
                            </div>
                        </div>
                        <div class="sdimg">
                            <div class="sdimg_sec">
                                <a href=""><img src="{DT_STATIC}pic/css/images/newsd.png" alt="" /></a>
                                <p class="info">
                                中国最重要 盘点车站“中国优先”车型
                                </p>
                                <p class="infobg"></p>
                            </div>
                        </div>
                        <div class="sdimg">
                            <div class="sdimg_sec">
                                <a href=""><img src="{DT_STATIC}pic/css/images/newsd.png" alt="" /></a>
                                <p class="info">
                                中国最重要 盘点车站“中国优先”车型
                                </p>
                                <p class="infobg"></p>
                            </div>
                        </div>
                    </div>
                    <div class="sdicon">
                        <a href="" class="sel">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
                    </div>
                    <div class="prev dir"></div>
                    <div class="next dir"></div>
                </div>
                <div class="newlist newhost">
                    <div class="gnav l">
                        <a href="" class="sel">热<br/>门<br/>资<br/>讯</a><a href="">往<br/>期<br/>回<br/>顾</a>
                    </div>
                    <div class="newhostcontent">
                        <div class="glist l">
                            <ul>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                            </ul>
                        </div>
                        <div class="glist l none">
                            <ul>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                              <li><a href="">中国最重要 盘点车站“中国优先”车型</a><span class="t">04-12</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="g_c2 l">
            <div class="hotnew">
                <div>
                    <div class="gimg l">
                        <a href=""><img src="{DT_STATIC}pic/css/images/newsmall.png" alt="" /></a>
                    </div>
                    <div class="ginfo l">
                        <h3><a href="">移动会议室 静态体验V9铂金版</a></h3>
                        <div class="intro">
                            <p>移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版 <a class="godt">详细>></a></p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="mt16">
                    <div class="gimg l">
                        <a href=""><img src="{DT_STATIC}pic/css/images/newsmall.png" alt="" /></a>
                    </div>
                    <div class="ginfo l">
                        <h3><a href="">移动会议室 静态体验V9铂金版</a></h3>
                        <div class="intro">
                            <p>移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版移动会议室 静态体验V9铂金版 <a class="godt">详细>></a></p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="newlist2">
                <div class="l">
                    <ul>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                    </ul>
                </div>
                <div class="l">
                    <ul>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                      <li><a href="">中国最重要 盘点车站“中国优先”车型</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="g_c3 l">
            <div class="smod">
                <ul>
                  <li>
                      <div>
                          <div class="shead">
                              <span class="s1 l gs">美容</span>
                              <h3 class="l">奥迪TT新车型假想图曝光</h3>
                              <div class="clear"></div>
                          </div>
                          <div class="sinfo">
                            奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="shead">
                              <span class="s2 l gs">保养</span>
                              <h3 class="l">奥迪TT新车型假想图曝光</h3>
                              <div class="clear"></div>
                          </div>
                          <div class="sinfo">
                            奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="shead">
                              <span class="s3 l gs">维修</span>
                              <h3 class="l">奥迪TT新车型假想图曝光</h3>
                              <div class="clear"></div>
                          </div>
                          <div class="sinfo">
                            奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="shead">
                              <span class="s4 l gs">用品</span>
                              <h3 class="l">奥迪TT新车型假想图曝光</h3>
                              <div class="clear"></div>
                          </div>
                          <div class="sinfo">
                            奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="shead">
                              <span class="s5 l gs">配件</span>
                              <h3 class="l">奥迪TT新车型假想图曝光</h3>
                              <div class="clear"></div>
                          </div>
                          <div class="sinfo">
                            奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光奥迪TT新车型假想图曝光
                          </div>
                      </div>
                  </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="msec f1">
        <div class="cheader">
                <h2>汽车美容</h2>
                <a class="more" href=""></a>
        </div>
        <div class="content">
            <div class="g_c1 l">
                <ul>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="g_c2 l">
                <div class="sd">
                    <div class="sdimg">
                        <div>
                            <a href=""><img src="{DT_STATIC}pic/css/images/f1p.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="sdicon">
                        <a class="sel" href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
                    </div>
                    <div class="clear"></div>
                    <div class="glist">
                        <ul>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="g_c3 l">
                <ul>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="msec f2">
        <div class="cheader">
                <h2>汽车美容</h2>
                <a class="more" href=""></a>
        </div>
        <div class="content">
            <div class="g_c1 l">
                <ul>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="g_c2 l">
                <div class="sd">
                    <div class="sdimg">
                        <div>
                            <a href=""><img src="{DT_STATIC}pic/css/images/f1p.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="sdicon">
                        <a class="sel" href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
                    </div>
                    <div class="clear"></div>
                    <div class="glist">
                        <ul>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="g_c3 l">
                <ul>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="msec f3">
        <div class="cheader">
                <h2>汽车美容</h2>
                <a class="more" href=""></a>
        </div>
        <div class="content">
            <div class="g_c1 l">
                <ul>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="g_c2 l">
                <div class="sd">
                    <div class="sdimg">
                        <div>
                            <a href=""><img src="{DT_STATIC}pic/css/images/f1p.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="sdicon">
                        <a class="sel" href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
                    </div>
                    <div class="clear"></div>
                    <div class="glist">
                        <ul>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="g_c3 l">
                <ul>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="msec f4">
        <div class="cheader">
                <h2>汽车美容</h2>
                <a class="more" href=""></a>
        </div>
        <div class="content">
            <div class="g_c1 l">
                <ul>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="g_c2 l">
                <div class="sd">
                    <div class="sdimg">
                        <div>
                            <a href=""><img src="{DT_STATIC}pic/css/images/f1p.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="sdicon">
                        <a class="sel" href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
                    </div>
                    <div class="clear"></div>
                    <div class="glist">
                        <ul>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="g_c3 l">
                <ul>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="msec f5">
        <div class="cheader">
                <h2>汽车美容</h2>
                <a class="more" href=""></a>
        </div>
        <div class="content">
            <div class="g_c1 l">
                <ul>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  <li>
                      <div>
                         <h2><a href="">静态体验房车V9铂金版</a></h2>
                          <div class="g_info">
                              <p>静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版静态体验房车V9铂金版</p>
                          </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="g_c2 l">
                <div class="sd">
                    <div class="sdimg">
                        <div>
                            <a href=""><img src="{DT_STATIC}pic/css/images/f1p.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="sdicon">
                        <a class="sel" href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
                    </div>
                    <div class="clear"></div>
                    <div class="glist">
                        <ul>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                            <li><a href="">中国最重要 盘点车展“中国优先”车型</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="g_c3 l">
                <ul>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                  <li class="glast">
                      <div>
                          <div class="gimg">
                              <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                          </div>
                          <div class="info">
                            <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                            <div class="tool">
                                <span class="view icon"></span>
                                <span class="viewnum" style="margin-right:20px;">500</span>
                                <span class="cm icon"></span>
                                <span class="cmnum" style="margin-right:20px;">500</span>
                                <span class="by">by 唐朝</span>
                            </div>
                          </div>
                      </div>
                  </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{template 'footer',$module}
