{template 'header',$module}
{template 'subheader',$module}
<div class="shownews">
    <div class="adlist">
        <div class="clad1 l">
            <a href=""><img src="{DT_STATIC}pic/css/images/cl1.png" alt="" /></a>
        </div>
        <div class="clad2 r">
            <a href=""><img src="{DT_STATIC}pic/css//images/cl2.png" alt="" /></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="current">
        <label for="">当前位置：</label>
        <a href=""> 首页 </a>&gt;
        <a href=""> 资讯 </a>&gt;
        <a href=""> 汽车美容 </a>
    </div>
    <div class="g_c1 l">
        <div class="content">
            <h1>移动会议室 静态体验威震房车V9铂金版</h1>
            <div class="baseinfo">
                <span>2014年04月26日 00:00</span>
                <span>来源：<a href="">汽车之家</a></span>
                <span>类型：原创</span>
                <span>编辑：<a>朱力神</a></span>
            </div>
            <div class="detail">
                <img src="{DT_STATIC}pic/css/images/shownewdetail.png" alt="" />
            </div>
        </div>
        <div class="recommand">
            <h2>推荐信息</h2>
            <div class="g_con">
                <div class="gc1 l">
                    <ul>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                      <li><a href="">移动会议室 静态体验威震房车V9铂金版</a></li>
                    </ul>
                </div>
                <div class="gc2 r">
                  <div class="mshowchip l">
                      <div class="gimg">
                          <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                      </div>
                      <div class="info">
                        <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                        <div class="tool">
                            <span class="view icon"></span>
                            <span class="viewnum" >500</span>
                            <span class="cm icon"></span>
                            <span class="cmnum" >500</span>
                            <span class="by">by 唐朝</span>
                        </div>
                      </div>
                  </div>
                  <div class="mshowchip l f">
                      <div class="gimg">
                          <a href=""><img src="{DT_STATIC}pic/css/images/f1p1.png" alt="" /></a>
                      </div>
                      <div class="info">
                        <h3><a href="">雅阁/蒙迪欧车门防撞梁</a></h3>
                        <div class="tool">
                            <span class="view icon"></span>
                            <span class="viewnum" >500</span>
                            <span class="cm icon"></span>
                            <span class="cmnum" >500</span>
                            <span class="by">by 唐朝</span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
        <div class="g_c2 l listnew_mod">
            <div class="sec_command">
                <h3>编辑推荐</h3>
                <ul>
                    <li>
                    <div>
                        <h4>
                            <a href="">出奇出出奇的稳定奇的稳定的稳定</a>
                        </h4>
                        <div class="g_img l"><a href=""><img src="{DT_STATIC}pic/css/images/lnp2.png" width="120" height="90" alt="" /></a></div>
                        <div class="g_info l"> <p>汽车车之家车之家车之家车之家车之家车之家车之家车之家车之家车之家之家</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div>
                        <h4>
                            <a href="">出奇出出奇的稳定奇的稳定的稳定</a>
                        </h4>
                        <div class="g_img l"><a href=""><img src="{DT_STATIC}pic/css/images/lnp2.png" width="120" height="90" alt="" /></a></div>
                        <div class="g_info l"> <p>汽车车之家车之家车之家车之家车之家车之家车之家车之家车之家车之家之家</p>
                        </div>
                    </div>
                    </li>                    <li class="glast">
                    <div>
                        <h4>
                            <a href="">出奇出出奇的稳定奇的稳定的稳定</a>
                        </h4>
                        <div class="g_img l"><a href=""><img src="{DT_STATIC}pic/css/images/lnp2.png" width="120" height="90" alt="" /></a></div>
                        <div class="g_info l"> <p>汽车车之家车之家车之家车之家车之家车之家车之家车之家车之家车之家之家</p>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="sec_top">
                <h3>热门排行</h3>
                <ul>
                   {php $t=array_pad(array(),10,0);}
                   {loop $t $k $v}
                    <li>
                        <div>
                            <div class="l num ">
                                <strong class="{if $k<3}sel{/if}">{$k+1}</strong>
                            </div>
                            <div class="l info">
                                <h4><a href="">来来来来来来来翼翼翼翼翼翼翼</a></h4>
                                <div class="candview">
                                    <i class="comment"></i>
                                    <span>8023</span>
                                    <i class="view"></i>
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    {/loop}
                </ul>
            </div>
        </div>
    <div class="clear"></div>
</div>
{template 'footer',$module}
